body {
    background-color: #FFFFE0;
}

h1 {
    color: #2F4F4F;
    margin-left: 20px;
}

p {
    width: 900px;
    margin-left: 100px;
}

li {
    width: 750px;
    margin-left: 125px;
}

img {
    border-radius: 8px;
    border: 1px solid orange;
    padding: 2px;
    width: 350px;
    margin-left: 140px;
}

img:hover {
    box-shadow: 0 0 2px 1px;
}

a:link {
    color: #2F4F4F;
}

a:visited {
    color: #778899;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}
