body {
    background-color: #CCFFFF;
    max-width: 960;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #2F4F4F;
    margin-left: 20px;
    margin-top: 50px;
}

h2 {
    color: #2F4F4F;
    margin-left: 30px;
    margin-top: 50px;
}

h3 {
    color: #2F4F4F;
    margin-left: 30px;
    margin-top: 50px;
}

p {
    width: 900px;
    margin-left: 30px;
}

li {
    width: 750px;
    margin-left: 45px;
    margin-bottom: 10px;
}

img {
    border-radius: 8px;
    border: 1px solid orange;
    padding: 2px;
    margin: auto;
    margin-top: 20px;
    width: 450px;
}

img:hover {
    box-shadow: 0 0 2px 1px;
}

a:link {
    color: #2F4F4F;
}

a:visited {
    color: #778899;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

br {
    margin-bottom: 10px;
}

#pagenav {
   padding-top: 100px;
   margin: auto;
   width: 800;
   text-align: center;
}

.navlink {
   background: #6495ED;
   color: white !Important;
   text-decoration: none;
   font-weight: bold;
   padding: 10px 15px;
   border-radius: 8px;
}

#h1-hero {
    color: white;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

